input[type="text"].cyberpunk,
.cyberpunk input[type="text"] {
  font-family: 'Hacked';
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 2px;
}